*{
    box-sizing: border-box;
}
 #giant-box{
     margin-right: 50px;
     margin-left: 50px;
 }

.jumbotron{
    background-image: url("/img/pizza.png");
    text-align: center;
    background-size: cover;
}

.container-fluid{
    padding: 0;
}

.jumbotron h1{
   background-color: rgba(245,245,245,0.5);
}

.nav-tabs *{
    display: inline-block;
}

#right a {
    display: inline-block;
}

.card-footer{
    text-align: right;
}


.form-group{
    margin: 0;
}

.form-check-input{
    padding: 5px;
}

.form-check{
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 10px;
}

.white{
    color: white;
}
