.jumbotron{
    background-image: url("/img/pizza.png");
    text-align: center;
}

.jumbotron h1{
   background-color: rgb(245,245,245,0.5);
}

.nav-tabs *{
    display: inline-block;
}

#right a {
    display: inline-block;
}

.card-footer{
    text-align: right;
}

.card-header {
    margin: 0;
}