*{
    box-sizing: border-box;
    color: black;
}

body{
    padding: 0;
    border: 0;
    margin: 0;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;}

.main-header{
    display: flex;
    width: 100%;
    align-items: center;
    background-color: darkgrey;
    height: 3em;
}

.navbar{
    display: flex;

}

.navbar a{
    display: inline-block;
    padding: 1em;
}

.left-side-list{
    display: flex;
    margin: 0;
    padding-left: 0;
    font-family: 'Work Sans', sans-serif;

}

.right-side{
    margin-left: auto;
    align-items: baseline;
    justify-content: center;
    font-family: 'Work Sans', sans-serif;
    display: inline-block;
}

.right-side a{
    padding: .5em;
    align-items: center;
}

.logo{
    margin: auto;
    size: 3em;
    padding-top: .2em;
    padding-bottom: .2em;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
}

.logo h2{
    margin: auto;
    padding-top: .2em;
}


ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

li{


}

.follow-us{
    margin-bottom: 5em;
    height: 100%;
}

.follow-us a{
    margin-bottom: 2em;
}
