body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.message-info {
    background-color: var(--bg-info);
    color: var(--text-info);
}

.message-success {
    background-color: var(--bg-success);
    color: var(--text-success);
}

.message-warning {
    background-color: var(--bg-warning);
    color: var(--text-warning);
}

.message-error {
    background-color: var(--bg-error);
    color: var(--text-error);
}

.message{
    padding: 10px;
    margin: .5em;
    border: 1px solid gray;
    grid-gap: .5em;
    width: 35%;
    border-radius: .5em;
    font-weight: 500;

}
.message{
--bg-info: #c4ebf2;
--text-info: #1c6f7d;
--bg-success: #c4f2d1;
--text-success: #17692e;
--bg-warning: #f2f2c4;
--text-warning: #545412;
--bg-error: #f2cfc4;
--text-error: #542212;}


