.fancy-header {
    color: purple; /* single line comment */
    text-decoration: underline;
}
h1.fancy-header, .sub-header{
    text-align: center;
}

h2{
    color: darkgreen;
    text-decoration: underline;
}

body{
    background-color: aqua;
    background-image: url("/img/light-bg.jpeg");
    font-family: 'Bebas Neue', cursive;
}

ol{
    list-style: circle;
}

ul{
    list-style: circle;
}

td{
    text-align: center;
}

table{

}

td, th{
    padding: 15px;
    border-bottom: 2px solid blue;

}

tr:nth-child(even){
    background-color: goldenrod;
}

tr:nth-child(odd){
    background-color: darkseagreen;
}

a:link{
    color: red;
}
a:visited link:{
    color: darkred;
}

.lists{
    display: flex;
    justify-content: space-evenly;
}

li{
    font-size: 1.5em;
}

.box {
    display: flex;
    height: 300px;
    align-items: center;
    justify-content: space-evenly;
}

.box img{
    width: 300px;
    height: 300px;
}


/*.imgwrap {*/
/*    width: 300px; !*or whatever you choose*!*/
/*    margin: auto;*/
/*    height: 300px;*/
/*}*/
/*.imgwrap img {*/
/*    display: block;*/
/*    width: 300px;*/
/*    max-width: 300px; !*actual image width*!*/
/*    height: auto; !* maintain aspect ratio*!*/
/*    margin: auto; !*optional centering of image*!*/
/*}*/

.ourvision{
    text-align: center;
}
