.fancy-header {
    color: #368a71; /* single line comment */
    text-decoration: underline;
}
h1.fancy-header, .sub-header{
    text-align: center;
}

h2{
    color: #368a71;
    text-decoration: underline;
}

body{
    background-color: aqua;
    background-image: url("/img/light-bg.jpeg");
    font-family: 'Bebas Neue', cursive;
}

ol{
    list-style: circle;
}

ul{
    list-style: circle;
}

td{
    text-align: center;
}

table{

}

td, th{
    padding: 15px;
    border-bottom: 2px solid blue;

}

tr:nth-child(even){
    background-color: goldenrod;
}

tr:nth-child(odd){
    background-color: darkseagreen;
}

a:link{
    color: red;
}
a:visited link:{
    color: darkred;
}

.lists{
    display: flex;
    justify-content: space-evenly;
}

li{
    font-size: 1.5em;
}

.ourvision{
    text-align: center;
}

#pics{

    display: grid;
    margin-right: 50px;
    margin-left: 50px;
    grid-gap: .5em;
    grid-template-areas:
        "photo-one photo-two photo-three"
        "photo-one photo-four photo-five";
    grid-template-columns: 50% 25% 25%;
    width: 850px;
    justify-content: center;


}

#pics>div{
    border: 5px solid #368a71;
    border-radius: 5px;
}
#pics>div:first-child{
    grid-area: photo-one;
    height: 300px;
}


#container{
    display: flex;
    justify-content: center;
}

#bottom{
    display: flex;
    justify-content: center;
    flex-direction: column;

}

/*#bottom>h2{*/
/*    text-align: center;*/
/*}*/

#bottom-container{
    display: flex;
    justify-content: space-evenly;
}

img{
    height: 100%;
    width: 100%;
}

.imgwrap{

    max-height: 100%;
    max-width: 100%;
    /*object-fit: fill;*/

}

form>label{
    display: block;
    background-color: goldenrod;
    text-align: center;

}
textarea{
    resize: none;
    width: 300px;
    height: 100px;
}

input{
    width: 300px;
}


footer{
    text-align: center;
}






/*.box {*/
/*    display: flex;*/
/*    height: 300px;*/
/*    align-items: center;*/
/*    justify-content: space-evenly;*/
/*}*/

/*.box img{*/
/*    width: 300px;*/
/*    height: 300px;*/
/*}*/


/*.imgwrap {*/
/*    width: 300px; !*or whatever you choose*!*/
/*    margin: auto;*/
/*    height: 300px;*/
/*}*/
/*.imgwrap img {*/
/*    display: block;*/
/*    width: 300px;*/
/*    max-width: 300px; !*actual image width*!*/
/*    height: auto; !* maintain aspect ratio*!*/
/*    margin: auto; !*optional centering of image*!*/
/*}*/


